/******************** burger star ********************/
.burger {
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    cursor: pointer;
  }
  
  .burger span{
    position: absolute;
    height: .25rem;
    width: 100%;
    background-color: var(--black);
    transition: 
      transform .3s ease-in-out, 
      opacity .3s ease-in-out, 
      width .3s ease-in-out
    ;
  }
  
  .burger span:nth-child(2){
    top: .5rem;
  }
  
  .burger span:last-child{
    bottom: 0;
  }
  
  .burger.times span{
    top: .5rem;
    transition: 
      transform .3s ease-in-out,
      opacity .3s ease-in-out,
      width .3s ease-in-out
    ;
  }
  
  .burger.times span:first-child {
    transform: rotate(45deg)
  }
  
  .burger.times span:nth-child(2) {
    opacity: 0
  }
  
  .burger.times span:last-child {
    transform: rotate(-45deg)
  }
  

/******************** burger end ********************/

/******************** header star ********************/

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: var(--header-height);
    background-color: var(--white);
}

.header .contained{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-family: var(--paragraphs);
    font-size: 1.3125rem;
    font-weight: 900;
    color: var(--green);
}

.header__nav-desktop{
    display: flex;
}

.header__nav-desktop a{
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--black);
    transition: color .3s ease-in-out;
}

.header__nav-desktop a:hover{
    color: var(--green);
}

.header__nav-desktop a:not(:last-child){
    margin-right: 3rem;
}

.header__nav-desktop a::after{
    display: block;
    background-color: var(--green);
    content: "";
    height: .125rem;
    width: 0;
    transition: width .3s ease-in-out;
}

.header__nav-desktop a:hover::after{
    width: 3rem;
}

.header__nav-desktop a.active{
    color: var(--green);
}

.header__nav-desktop a.active::after{
    width: 3rem;
}

@media (min-width: 768px) {
    .header__logo{
        font-size: 1.75rem;
    }
}



/******************** header end ********************/

/******************** nav movle start ********************/
.nav-mobile{
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.5rem;
    background-color: var(--white);
    transform: translateX(-100%);
    transition: transform .5s ease-in-out; 
    overflow-y: auto;
}

.nav-mobile a:not(:last-child){
    color: var(--black);
    font-family: var(--paragraphs);
    line-height: 4rem;
    font-size: 1.3125rem;
    font-weight: 700;
}

.nav-mobile a::after{
    content: "";
    display: block;
    width: 0;
    height: .125rem;
    background-color: var(--green);
    transition: width .3s ease-in-out;
}

.nav-mobile a:last-child{
    
    margin-top: auto;
    align-self: center;
}

.nav-mobile a.active{
    color: var(--green);
}

.nav-mobile a.active::after{
    width: 3rem;
}

.nav-mobile.open{
    transform: translateX(0);
}

@media (min-width: 768px) {
    .nav-mobile{
        height: max-content;
        align-items: center;
    }

    .nav-mobile a:last-child{
        margin-top: 4rem;
    }
}



/******************** nav movle start ********************/

/******************** utilities start ********************/

.btn{
    height: 3.125rem;
    padding: 1rem 1.875rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
}

.btn__icon{
    margin-right: 1rem;
    height: 1.125rem;
}

.cta{
    background: var(--orange);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--white);
}

.cta:hover > img{
    animation: heartBeat .8s linear infinite;
  }
  
  @keyframes heartBeat{
    0% {transform: scale(1.07);}
    80% {transform: scale(1.00);}
    100% {transform: scale(0.8);}
  }

  .container {
    padding: 1.5rem;
  }

  .contained{
    max-width: 1600px;
    margin: 0 auto;
  }

@media (min-width) {
    .container{
        padding: 1.5rem 7.5rem;
    }
}

/******************** utilities end ********************/