/******************** burger star ********************/
.burger {
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    cursor: pointer;
  }
  
  .burger span{
    position: absolute;
    height: .25rem;
    width: 100%;
    background-color: var(--black);
    transition: 
      transform .3s ease-in-out, 
      opacity .3s ease-in-out, 
      width .3s ease-in-out
    ;
  }
  
  .burger span:nth-child(2){
    top: .5rem;
  }
  
  .burger span:last-child{
    bottom: 0;
  }
  
  .burger.times span{
    top: .5rem;
    transition: 
      transform .3s ease-in-out,
      opacity .3s ease-in-out,
      width .3s ease-in-out
    ;
  }
  
  .burger.times span:first-child {
    transform: rotate(45deg)
  }
  
  .burger.times span:nth-child(2) {
    opacity: 0
  }
  
  .burger.times span:last-child {
    transform: rotate(-45deg)
  }
  

/******************** burger end ********************/

/******************** Card adoption start ********************/
.card-adoption{
    max-width: 21rem;
    min-width: 16rem;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--paragraphs);
    margin-bottom: 3rem;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--green);
  }

  .card-adoption__title h4{
    font-size: 1.25rem;
  }
  
  .card-adoption__title,
  .card-adoption__suporting-text{
    padding: 1rem;
  }
  
  .card-adoption__picture{
    aspect-ratio: 1.618/1;
    position: relative;
    overflow: hidden;
  }

  .card-adoption img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .card-adoption__suporting-text{
    font-weight: 700;
  }
  
  .card-adoption__suporting-text ul{
    list-style: none;
    text-align: left;
    font-size: 1rem;
    line-height: 2;
    
  }

  .card-adoption a{
    margin: 0 auto 1.5rem;
  }

  .card-adoption .card-adoption__suporting-text span{
    color: var(--green);
  }

  @media (min-width: 1044px) {
    .card-adoption{
        min-width: 20.4375rem;
    }
  }

/******************** Card adoption end ********************/

/******************** Adopt start ********************/
/* ↓↓ main adopt ↓↓ */
.main-adopt {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1023px){
  .main-adopt{
    display: grid;
    grid-template-columns: 18rem auto;
    column-gap: 2rem;
    margin-top: 5rem;
    padding: 0 1.5rem;
  }
}

@media (min-width: 1328px){
  .main-adopt{
    padding: 0;
  }
}
/* ↑↑ main adopt ↑↑ */

/* ↓↓ adopt article ↓↓ */

.adopt-article{
  font-family: var(--paragraphs);
  padding: 1.25rem;
  color: var(--black);
}

.adopt-article__header{
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.adopt-article__subtle{
  color: var(--green);
  margin: 5rem 0 1.5rem;
}

.adopt-article__text,
.adopt-article__list li{
  font-size: 1.25rem;
  line-height: 1.5;
}

.adopt-article__list{
  margin-left: 2rem;
}

.adopt-article__list li{
  margin-bottom: 1.5rem;
}

@media (min-width: 1023px){
  .adopt-article{
    padding: 1.25rem;
  }
  .adopt-article__header{
    margin-top: 0;
  }
}

/* ↑↑ adopt article ↑↑ */

/* ↓↓adopt-dog__card↓↓ */
.adopt-dog__card{
  border: .5px solid var(--green);
  margin-bottom: 1.875rem;
}

.adopt-dog__card-media{
  line-height: 0;
}

.adopt-dog__card-media img{
  width: 100%;
  height: auto;
}

.adopt-dog__text{
  padding: 1.5rem ;
  font-family: var(--paragraphs);
  font-size: 1rem;
  line-height: 2;
}

.adopt-dog__text ul{
  list-style: none;
  color: var(--green);
  font-weight: 700;
}

.adopt-dog__text ul li b{
  color: var(--black);
}

.adopt-article__content{
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .adopt-dog__card{
    display: grid;
    grid-template-columns: 7fr 5fr;
    align-items: center;
  }
}



/* ↑↑adopt-dog__card↑↑ */

/* ↓↓adopt-dogs__gallery↓↓ */

@media (min-width: 768px){
  .adopt-dogs__gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

/* ↑↑adopt-dogs__gallery↑↑ */

/* ↓↓adopt-nav↓↓ */
.adopt-nav{
  position: sticky;
  top: 6rem;
  padding: 2rem;
  border: thick solid var(--green);
  height: 20rem;
}

.adopt-nav__summary{
  width: min-content;
}

.adopt-nav__summary a{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  color: var(--green);
  
}

.adopt-nav__summary a::after{
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--green);
  margin-top: .75rem;
}

.adopt-nav__links{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 4rem;
}

.adopt-nav__links a{
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 4;
  color: var(--black);
}



/* ↑↑adopt-nav */
/* ↓↓adopt-nav-mobile↓↓ */
.adopt-nav-mobile{
  z-index: 90;
  position: sticky;
  top: var(--header-height);
  border: thick solid var(--green);
  padding: 1.25rem;
  transition: height .3s ease-in-out;
  height: 5.125rem;
  overflow: hidden;
  background-color: var(--white);
}

 .adopt-nav-mobile__summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adopt-nav-mobile__summary a{
  color: var(--green);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.adopt-nav-mobile__summary img{
  width: 1.125rem;
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
}

.adopt-nav-mobile__links{
  display: flex;
  flex-direction: column;
  margin-top: 2.125rem;
  margin-left: 2rem;
}

.adopt-nav-mobile__links a{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black);
  line-height: 3;
}

.adopt-nav-mobile__summary img.open{
  transform: rotate(0deg);
} 

.adopt-nav-mobile.open{
  height: 16rem;
}

@media (min-width: 768px) {
  .adopt-nav-mobile__links{
    margin-left: 5rem;
  }
}

/* ↑↑adopt-nav-mobile↑↑ */



/******************** Adopt end ********************/

/******************** header star ********************/

.header{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    min-height: var(--header-height);
    background-color: var(--white);
}

.header .contained{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-family: var(--paragraphs);
    font-size: 1.3125rem;
    font-weight: 900;
    color: var(--green);
}

.header__nav-desktop{
    display: flex;
}

.header__nav-desktop a{
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--black);
    transition: color .3s ease-in-out;
}

.header__nav-desktop a:hover{
    color: var(--green);
}

.header__nav-desktop a:not(:last-child){
    margin-right: 3rem;
}

.header__nav-desktop a::after{
    display: block;
    background-color: var(--green);
    content: "";
    height: .125rem;
    width: 0;
    transition: width .3s ease-in-out;
}

.header__nav-desktop a:hover::after{
    width: 3rem;
}

.header__nav-desktop a.active{
    color: var(--green);
}

.header__nav-desktop a.active::after{
    width: 3rem;
}

@media (min-width: 768px) {
    .header__logo{
        font-size: 2rem;
        line-height: 1;
    }

    .header .contained{
        height: 3.25rem;
        
    }
}
/******************** header end ********************/

/******************** Home adopt start ********************/

.adopt-home{
    text-align: center;
  }
  
  @media (min-width: 1024px) {
      .adopt-home__gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.5rem;
        justify-items: center;
      }
  }
  
/******************** Home adopt end ********************/

/******************** Home hero start ********************/
.home-hero{
    z-index: -1;
    position: relative;
    width: 100%;
    max-height: calc(100vh - var(--header-height) );
    margin-top: var(--header-height);
    overflow: hidden;
}

.home-hero picture source{
    line-height: 0;
}

.home-hero picture img{
    width: 100%;
    height: auto;
    filter: brightness(.7);
}

.home-hero a{
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 1.5rem;
}

.home-hero h1{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: calc(100% - 3rem);
    max-width: 1200px;
    text-align: center;
    font-family: var(--paragraphs);
    font-size: 8vw;
    color: var(--white);
    line-height: 1.2;
}

@media (orientation:landscape) {
    .home-hero h1{
        font-size: 4vw;
    }
}

@media (min-width: 1024px) {
    .home-hero{
        max-height: calc(100vh - (var(--header-height) * 2) );
    }

    .home-hero picture img{
        object-fit: none;
        object-position: 50% -200px;
    }
}

/******************** Home hero end ********************/

/******************** Home news start ********************/

.home-news__content{
  margin: 3rem 0;
}
.home-news__title{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
 }
 
 .home-news__title h3{
   font-size: 3.125rem;
   margin-bottom: 1.125rem;
 }
 
 .home-news__title p{
   font-size: 1.125rem;
   line-height: 2;
   margin-bottom: 2.25rem;
 }

 .home-news__title a{
  margin: 0 auto;
 }
 
 @media (min-width: 1024px) {
  .home-news__title{
    padding: 3rem 1.5rem;
  }
    .home-news{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .home-news__content{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5rem;
      padding-left: 1.5rem;
    }

    .home-news__content .news-card{
        margin-bottom: 0;
    }
 }
 
 
/******************** Home news end ********************/

/******************** Home quote start ********************/
.home-quote blockquote{
    font-family: var(--paragraphs);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.8;
    text-align: center;
}

.home-quote p{
    text-align: center;
}

.home-quote p{
    margin: 2.1875rem 0;
}

@media (min-width: 768px) {
    .home-quote blockquote,
    .home-quote p{
        font-size: 1.5rem;
        line-height: 2;
    }
}

/******************** Home quote end ********************/

/******************** Home stats start ********************/
.home-stats{
    padding: var(--header-height) 0;
}
.stat{
    position: relative;
    height: 100%;
    overflow: hidden;
    color: var(--white);
  }
  
  .stat img{
    width: 100%;
    height: auto;
  }
  
  .stat .data{
    width: 100%;
    bottom: 0;
    padding: 0 1rem 2rem;
    position: absolute;
    font-family: var(--paragraphs);
    background: var(--black);
    background: linear-gradient(0deg, var(--black) 0%, rgba(255,255,255,0) 100%);
  }
  
  .stat b{
    font-size: 2.5rem;
    line-height: 1;
  }
  
  .stat p{
    font-size: 1.5rem;
    line-height: 1.25;
  }

  .stats-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50vw);
  }
  
  
  @media (min-aspect-ratio: 4/3) {
    .stats-grid{
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 25vw;
    }
  }
  
/******************** Home stats end ********************/

/******************** Home values start ********************/

.home-values_value:first-child{
    padding-bottom: 2.1875rem;
    border-bottom: 1px solid var(--white);
}

.home-values_value p {
    text-align: center;
    margin-bottom: 2.1875rem;
}

.home-values_value a div{
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .home-values__values{
        display: flex;
    }

    .home-values_value:first-child{
        width: 50%;
        border-bottom: none;
        border-right: 1px solid var(--white);
        padding-bottom: 0;
        padding-right: 1.5rem;
    }

    .home-values_value{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home-values_value:last-child{
        width: 50%;
        padding-left: 1.5rem;
    }

   
}
/******************** Home values end ********************/

/******************** Icon plus start **************************/

.plus-icon {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  z-index: 80;
  cursor: pointer;
}

.plus-icon span{
  position: absolute;
  height: .25rem;
  width: 100%;
  transition: 
    transform .3s ease-in-out, 
    opacity .3s ease-in-out, 
    width .3s ease-in-out
  ;
} 

.plus-icon span:first-child{
  top: .8125rem;
  left: 0;
  transform: rotate(90deg);
  
}

.plus-icon span:last-child{
  top: .8125rem;
  left: 0;
}

.plus-icon.minus-icon span{
  transition: 
    transform .3s ease-in-out,
    opacity .3s ease-in-out,
    width .3s ease-in-out
  ;
}

.plus-icon.minus-icon span:first-child,
.plus-icon.minus-icon span:last-child {
  transform: rotate(0deg)
}

/******************** Icon plus end **************************/

/******************** nav movle start ********************/
.nav-mobile{
    position: fixed;
    z-index: 100;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.5rem;
    background-color: var(--white);
    transform: translateX(-100%);
    transition: transform .5s ease-in-out; 
    overflow-y: auto;
}

.nav-mobile a{
    color: var(--black);
    font-family: var(--paragraphs);
    line-height: 4rem;
    font-size: 1.3125rem;
    font-weight: 700;
}

.nav-mobile a::after{
    content: "";
    display: block;
    width: 0;
    height: .125rem;
    background-color: var(--green);
    transition: width .3s ease-in-out;
}

.nav-mobile a:first-child{
    margin-top: 2rem;
}

.nav-mobile a.active{
    color: var(--green);
}

.nav-mobile a.active::after{
    width: 3rem;
}

.nav-mobile.open{
    transform: translateX(0);
}

@media (min-width: 768px) {
    .nav-mobile{
        height: max-content;
        align-items: center;
    }

    .nav-mobile a:first-child{
        margin-top: 0;
    }

    
}



/******************** nav movle start ********************/


/******************** Loading start **************************/
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--orange);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin-left: auto;
  margin-right: auto;
}
@keyframes l3 {to{transform: rotate(1turn)}}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}

/******************** Loading end **************************/

/******************** news-card start ********************/
.news-card{
  border: 1px solid var(--green);
  max-width: 21rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  overflow: hidden;
}

.news-card__media {
  overflow: hidden;
  aspect-ratio: 1 / 1;
  text-align: center;
}

.news-card__media > img{
  width: 100%;
  height: auto;
}

.news-card__title{
  padding: 1.5rem;
  overflow: hidden;
  font-family: var(--paragraphs);
  font-size: 1.25rem;
}

.news-card__summary{
  height: 4.5rem;
  overflow: hidden;
  font-family: var(--paragraphs);
  padding: 0 1.5rem;

}
.news-card__summary p{
  font-size: 1rem;
  line-height: 1.5;

  background-image: linear-gradient(0deg, #ffffff90 0 11%, var(--black) 33% 100%);
 
  background-size: 100% 72px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.news-card__date p{
  padding: 1rem 1.5rem;
  font-size: .75rem;
  line-height: 2;
}


/******************** news-card end ********************/

/******************** utilities start ********************/

.btn{
    height: 3.125rem;
    padding: 1rem 1.875rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
}

.btn__icon{
    margin-right: 1rem;
    height: 1.125rem;
}

.btn-outlined{
  border: .5px solid var(--green);
  color: var(--green);
  transition: 
    background-color .3s ease-in-out,
    color .3s ease-in-out;
  font-weight: 600;
}

.btn-outlined:hover{
  background-color: var(--green);
  color: var(--white);
  
}

.btn-text,
.btn-text__prev-next{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.7rem;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--green);
  margin-left: auto;
  margin-right: auto;
}

.btn-text{
  width: 12rem;
}

.btn-text:hover img{
  transform: translateX(.5rem);
}

.btn-text img{
  height: 1.5rem;
  margin-left: 1rem;
  transition: transform .3s ease-in-out;
}

.btn-text__prev-next img{
  height: 1.5rem;
  margin: 0 1rem;
  transition: transform .3s ease-in-out;
}

.btn-text__prev-next:hover img{
  transform: translateX(.5rem);
}

.btn-text__prev-next:hover .arrow-left{
  transform: translateX(-.5rem);
}


.cta{
    background: var(--orange);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--white);
}

.cta:hover > img{
    animation: heartBeat .8s linear infinite;
  }
  
  @keyframes heartBeat{
    0% {transform: scale(1.07);}
    80% {transform: scale(1.00);}
    100% {transform: scale(0.8);}
  }

  .container {
    padding: 1.5rem;
  }

  .contained{
    max-width: 1600px;
    margin: 0 auto;
  }

@media (min-width) {
    .container{
        padding: 1.5rem 7.5rem;
    }
}

/* pages  start*/
.pages-hero{
  margin-top: var(--header-height);
  position: relative;
  overflow: hidden;
  height: calc((100vh - var(--header-height)) * .75);
}

.pages-hero > img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  object-fit: cover;
}

.pages-hero h1{
  font-family: var(--paragraphs);
  position: absolute;
  left: 6.25vw;
  top: 12.5%;
  font-size: 16vw;
  line-height: 1;
  color: var(--white-transparent);
  text-shadow: 0 0 .25rem #1F252688;
}


@media (min-width: 1024px) {
  .pages-hero h1{
    font-size: 8vw;
  }

  
  .pages-hero > img{
    width: 100%;
  }
  
}


/* pages end */


  
/* section */
section.light{
    color: var(--black);
}

section.dark{
    background-color: var(--black);
    color: var(--white);
}

section.light span{
    color: var(--green);
}

section.dark span{
    color: var(--orange);
}

section h3{
    font-family: var(--paragraphs);
    font-size: 1.75rem;
    line-height: 1.2;
    text-align: center;
    margin: 2.1875rem 0;
}

section p{
    font-family: var(--paragraphs);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.8;
}

@media (min-width: 768px) {
    section h3{
        font-size: 3.125rem;
    }
}




/******************** utilities end ********************/