/******************** header star ********************/

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: var(--header-height);
    background-color: var(--white);
}

.header .contained{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-family: var(--paragraphs);
    font-size: 1.3125rem;
    font-weight: 900;
    color: var(--green);
}

.header__nav-desktop{
    display: flex;
}

.header__nav-desktop a{
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--black);
    transition: color .3s ease-in-out;
}

.header__nav-desktop a:hover{
    color: var(--green);
}

.header__nav-desktop a:not(:last-child){
    margin-right: 3rem;
}

.header__nav-desktop a::after{
    display: block;
    background-color: var(--green);
    content: "";
    height: .125rem;
    width: 0;
    transition: width .3s ease-in-out;
}

.header__nav-desktop a:hover::after{
    width: 3rem;
}

.header__nav-desktop a.active{
    color: var(--green);
}

.header__nav-desktop a.active::after{
    width: 3rem;
}

@media (min-width: 768px) {
    .header__logo{
        font-size: 1.75rem;
    }
}



/******************** header end ********************/

/******************** utilities start ********************/

.btn{
    height: 3.125rem;
    padding: 1rem 1.875rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
}

.btn__icon{
    margin-right: 1rem;
    height: 1.125rem;
}

.cta{
    background: var(--orange);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--white);
}

.cta:hover > img{
    animation: heartBeat .8s linear infinite;
  }
  
  @keyframes heartBeat{
    0% {transform: scale(1.07);}
    80% {transform: scale(1.00);}
    100% {transform: scale(0.8);}
  }

  .container {
    padding: 1.5rem;
  }

  .contained{
    max-width: 1600px;
    margin: 0 auto;
  }

@media (min-width) {
    .container{
        padding: 1.5rem 7.5rem;
    }
}

/******************** utilities end ********************/